.Home {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  /* overflow: hidden; */
  /* background-color: #333; */
}
input {
  width: 100%;
  height: 15%;
}
li {
  float: right;
  border-right: 2px solid white;
  /* border-top: 2px; */
  /* padding: 1px; */
}
.left {
  float: left;
  padding-left: 10px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: white;
  color: black;
}
.UserCards {
  width: 100%;
  height: 80%;
  background-color: darkblue;
  margin: auto;
  /* background-color: white; */
}
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  /* border: 2px solid #dddddd; */
  text-align: left;
  padding: 8px;
  width: 10%;
}

.User {
  width: 200px;
  height: 300px;
  margin: auto 10px;
  display: inline-flex;
  border-radius: 10px;
  background-color: white;
}
.App {
  width: 100%;
  height: 1000px;
  /* background-color: aqua; */
}
.inputBlock {
  display: inline-block;
  width: 50%;
}
.picture-div {
  height: 220px;
}
.pic {
  border-radius: 50%;
  width: 60%;
  height: 80%;
}
@media (max-height: 700px) {
  .picture-div {
    height: 150px;
  }
  .pic {
    height: 120px;
  }
}
.studentPage {
  height: 1200px;
}
.card{
  width: 300px;
  height: 370px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 20px 8px #d0d0d0;
}
.grid-container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto;
  padding: 10px;
  /* overflow-y: auto; */
}
.grid{
  overflow-y: auto;
}

.blog-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  background-color: none;
  padding: 10px;
}

.blog-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 10px;
  /* font-size: 30px; */
  text-align: center;
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
}

.trending-container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.trending-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 2px;
  text-align: center;
  width: 100%;
  height: 150px;
}

.grid-container1 {
  display: grid;
  column-gap: 2px;
  grid-template-columns: 150px 80% auto;
  padding: 10px;
}

.grid-item1 {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 2px;
  /* text-align: center; */
  width: 150px;
}
.description{
  font-size: 13px;
}
